@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --background-black: #101010;
  --background-black-card: #151515;
  --h1-white: #D7D6D3;
  --text-white: #8E8E8E;
  --accent-color: #D90429;
  --footer-title-mobile: 50px;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --logo-mobile: 25px;
  --title-desktop: 60px;
  --title-mobile: 40px;
  --hero-button-mobile: 14px;
  --footer-title: 80px;
  --image-border: 16px;
  --accordion-border: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--h1-white);
  font-weight: var(--regular);
}

* a {
  text-decoration: none;
}

* ul {
  list-style: none;
}

body {
  background-color: var(--background-black);
  color: var(--h1-white);
}

body img {
  width: 100%;
}

.navigation {
  margin: 2em 16px;
}

.navigation .desktop {
  display: none;
}

.navigation .logo {
  font-weight: var(--bold);
  font-size: var(--logo-mobile);
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: calc(100vh - 100%);
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
}

.container .circle {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
  margin: 1.5em 16px;
}

.container .circle .equal-line {
  position: absolute;
  top: 42%;
  left: 20%;
  width: 30px;
  height: 2px;
  background-color: var(--h1-white);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.container .circle .equal-line2 {
  position: absolute;
  top: 57%;
  left: 20%;
  width: 30px;
  height: 2px;
  background-color: var(--h1-white);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.container .circle.active .equal-line:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.container .circle.active .equal-line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 45%;
}

.container .circle.active .equal-line2:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 55%;
}

.container .circle.active .equal-line2:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.container #menu {
  position: absolute;
  background-color: #151515;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  height: 100vh;
}

.container #menu .navigation-links {
  margin-top: 3em;
}

.container #menu .navigation-links ul a {
  font-weight: var(--bold);
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #menu .navigation-links ul a span {
  color: var(--text-white);
  font-size: 14px;
  margin-right: 1em;
  margin-top: -1.2em;
}

.container #menu .menu-bottom {
  position: absolute;
  bottom: 15%;
}

.container #menu.active {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}

.container .content {
  padding: 60px 50px;
  margin-bottom: 20px;
}

.container .content li {
  margin-bottom: 8px;
}

.hero {
  margin: 4em 16px 2em;
}

.hero .left .title {
  font-weight: var(--semibold);
  font-size: var(--title-mobile);
  line-height: 50px;
}

.hero .left .desc {
  margin-top: 1.5em;
  color: var(--text-white);
}

.hero .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.hero .left .buttons p {
  font-weight: var(--semibold);
  font-size: var(--hero-button-mobile);
}

.hero .left .buttons .btm {
  background-color: var(--accent-color);
  padding: 1em 2em;
  border-radius: 6px;
}

.hero img {
  margin-top: 4em;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: var(--image-border);
}

.description {
  margin: 4em 3em;
}

.description p {
  color: var(--text-white);
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-item .line {
  border: .4px solid #4B4B4B;
}

.accordion-item .accordion-header {
  background-color: var(--background-black-card);
  border-radius: var(--accordion-border);
  padding: 1.5em 2em;
  cursor: pointer;
  font-weight: var(--semibold);
}

.accordion-item .accordion-content {
  margin-top: -2em;
  padding: 1.5em 2em 2em;
  display: none;
  background-color: var(--background-black-card);
  border-radius: var(--accordion-border);
}

.accordion-item .accordion-content p {
  margin-top: 1.5em;
  color: var(--text-white);
}

#image {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  /* Add transition effect for smooth opacity change */
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: var(--image-border);
}

.experience {
  margin: 0 16px;
}

.experience .accordion {
  margin-top: 2em;
}

.previous-work {
  position: relative;
  margin: 2em 16px;
}

.previous-work .top .title {
  font-weight: var(--semibold);
}

.previous-work .top .custom-buttons {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.previous-work .top .custom-buttons .custom-button {
  background-color: var(--background-black-card);
  border: none;
  padding: 1.7em;
  border-radius: 100%;
  cursor: pointer;
}

.previous-work .top .custom-buttons .custom-button img {
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.previous-work .splide__slide {
  margin-top: 1em;
}

.previous-work .splide__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: var(--image-border);
}

.previous-work .splide__slide .slide-content {
  margin: 2em .7em 0;
}

.previous-work .splide__slide .slide-content .title {
  font-weight: var(--semibold);
}

.previous-work .splide__slide .slide-content .desc {
  margin-top: .5em;
  color: var(--text-white);
}

.previous-work .splide__slide .slide-content .other {
  margin-top: 2em;
  font-weight: var(--medium);
}

.review-carousel {
  margin: 4em 16px;
}

.review-carousel .splide__slide {
  background-color: var(--background-black-card);
  border-radius: var(--image-border);
  padding: 3em;
}

.review-carousel .splide__slide img {
  width: 30px;
  margin-top: 5em;
  padding: 1em;
  border-radius: 100%;
  background-color: var(--background-black);
}

.review-carousel .splide__slide .title {
  font-weight: var(--semibold);
  margin-top: 2em;
}

.review-carousel .splide__slide .desc {
  color: var(--text-white);
  margin-top: .5em;
}

footer {
  margin: 1em 16px;
}

footer .contact {
  background-color: var(--accent-color);
  border-radius: var(--image-border);
}

footer .contact .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .contact .image img {
  width: 140px;
  margin: 4em 0 2em;
}

footer .contact .texts {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 40px;
}

footer .contact .texts .title {
  font-size: 50px;
  font-weight: var(--bold);
  margin-bottom: 1em;
}

footer .contact .texts .subtext {
  font-weight: var(--semibold);
}

footer .bottom {
  margin-top: 6em;
}

footer .bottom .terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: var(--medium);
  margin-top: .5em;
}

@media only screen and (min-width: 768px) {
  .navigation, .container .circle, .hero, .experience, .previous-work, .review-carousel, footer {
    margin-left: 32px;
    margin-right: 32px;
  }
  .container #menu {
    width: 500px;
  }
  .hero img {
    height: 400px;
  }
  #image {
    height: 400px;
  }
  .previous-work {
    margin-top: 3em;
  }
  .previous-work .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .previous-work .splide__slide img {
    height: 400px;
  }
  footer form .email-input {
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .navigation, .container .circle, .hero, .experience, .previous-work, .review-carousel, footer {
    margin-left: 3em;
    margin-right: 3em;
  }
  .container {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigation .desktop {
    display: block;
  }
  .navigation .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
  .navigation .right a {
    font-weight: var(--medium);
  }
  .navigation .right nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .navigation .right .nav-button p {
    border: 1px solid #D7D6D3;
    padding: 1em 3em;
    border-radius: 6px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px auto;
        grid-template-columns: 500px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .hero img {
    margin-top: 0;
    height: 340px;
  }
  .description {
    margin: 4em 10em;
  }
  .experience {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px auto;
        grid-template-columns: 500px auto;
    gap: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .previous-work {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 6em;
  }
  .previous-work .previous-work-carousel .splide__track ul li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 500px auto;
        grid-template-columns: 500px auto;
    gap: 20px;
  }
  .previous-work .previous-work-carousel .splide__track ul li img {
    height: 340px;
  }
  .previous-work .previous-work-carousel .splide__track ul li .slide-content {
    margin: 1em 0;
  }
  .previous-work .previous-work-carousel .splide__track ul li .slide-content .other {
    position: absolute;
    bottom: 1em;
  }
  .review-carousel {
    margin-top: 8em;
  }
  footer {
    margin-top: 8em;
  }
  footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .bottom .terms {
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .navigation, .container .circle, .hero, .experience, .previous-work, .review-carousel, footer {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    -ms-grid-columns: 440px 50%;
        grid-template-columns: 440px 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero img {
    height: 400px;
  }
  .description {
    margin: 8em auto;
    width: 800px;
  }
  .experience {
    -ms-grid-columns: auto 500px;
        grid-template-columns: auto 500px;
    gap: 40px;
  }
  #image {
    height: 440px;
  }
  .previous-work {
    margin: 8em auto;
    width: 1000px;
  }
  .previous-work .previous-work-carousel .splide__track ul li {
    -ms-grid-columns: auto 300px;
        grid-template-columns: auto 300px;
    gap: 40px;
  }
  .review-carousel .splide__slide {
    padding: 5em 4em 4em;
  }
  footer form .email-input {
    width: 400px;
  }
}

@media only screen and (min-width: 1920px) {
  .navigation, .container .circle, .hero, .experience, .previous-work, .review-carousel, footer {
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    -ms-grid-columns: 700px 50%;
        grid-template-columns: 700px 50%;
  }
  .hero .left .title {
    font-size: var(--title-desktop);
    line-height: 80px;
  }
  .hero .left .desc {
    width: 450px;
  }
  .hero .left .buttons {
    margin-top: 6em;
  }
  .hero img {
    height: 550px;
  }
  .experience {
    -ms-grid-columns: auto 560px;
        grid-template-columns: auto 560px;
    gap: 20px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .accordion-item .accordion-header, .accordion-item .accordion-content {
    padding: 2em 3em;
  }
  #image {
    height: 700px;
  }
  .previous-work {
    margin: 8em auto;
    width: 1200px;
  }
  .previous-work .previous-work-carousel .splide__track ul li {
    -ms-grid-columns: auto 300px;
        grid-template-columns: auto 300px;
    gap: 40px;
  }
  .previous-work .previous-work-carousel .splide__track ul li img {
    height: 550px;
  }
  footer {
    margin-top: 12em;
  }
  footer .title {
    font-size: var(--footer-title);
    line-height: 80px;
    width: 500px;
  }
  footer .bottom {
    margin-top: 12em;
  }
}
/*# sourceMappingURL=index.css.map */