@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --background-black: #101010;
  --background-black-card: #151515;
  --h1-white: #D7D6D3;
  --text-white: #8E8E8E;
  --accent-color: #FF4434;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --logo-mobile: 25px;
  --title-mobile: 40px;
  --hero-button-mobile: 14px;
  --image-border: 16px;
  --accordion-border: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--h1-white);
  font-weight: var(--regular);
}

* a {
  text-decoration: none;
}

* ul {
  list-style: none;
}

body {
  background-color: var(--background-black);
  color: var(--h1-white);
}

body img {
  width: 100%;
}

body .desktop {
  display: none;
}

.navigation {
  margin: 2em 16px;
}

.navigation .logo {
  font-weight: var(--bold);
  font-size: var(--logo-mobile);
}

.hero {
  margin: 4em 16px 2em;
}

.hero .left .title {
  font-weight: var(--semibold);
  font-size: var(--title-mobile);
  line-height: 50px;
}

.hero .left .desc {
  margin-top: 1.5em;
  color: var(--text-white);
}

.hero .left .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.hero .left .buttons p {
  font-weight: var(--semibold);
  font-size: var(--hero-button-mobile);
}

.hero .left .buttons .btm {
  background-color: var(--accent-color);
  padding: 1em 2em;
  border-radius: 6px;
}

.hero img {
  margin-top: 4em;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  border-radius: var(--image-border);
}

.description {
  margin: 4em 3em;
}

.description p {
  color: var(--text-white);
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-item .line {
  border: .4px solid #4B4B4B;
}

.accordion-item .accordion-header {
  background-color: var(--background-black-card);
  border-radius: var(--accordion-border);
  padding: 1.5em 2em;
  cursor: pointer;
  font-weight: var(--semibold);
}

.accordion-item .accordion-content {
  margin-top: -2em;
  padding: 1.5em 2em 2em;
  display: none;
  background-color: var(--background-black-card);
  border-radius: var(--accordion-border);
}

.accordion-item .accordion-content p {
  margin-top: 1.5em;
  color: var(--text-white);
}

#image {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  /* Add transition effect for smooth opacity change */
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: var(--image-border);
}

.experience {
  margin: 0 16px;
}

.experience .accordion {
  margin-top: 2em;
}

.previous-work {
  position: relative;
  margin: 2em 16px;
}

.previous-work .top .title {
  font-weight: var(--semibold);
}

.previous-work .top .custom-buttons {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.previous-work .top .custom-buttons .custom-button {
  background-color: var(--background-black-card);
  border: none;
  padding: 1.7em;
  border-radius: 100%;
  cursor: pointer;
}

.previous-work .top .custom-buttons .custom-button img {
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.previous-work .splide__slide {
  margin-top: 1em;
}

.previous-work .splide__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: var(--image-border);
}

.previous-work .splide__slide .slide-content {
  margin: 2em .7em 0;
}

.previous-work .splide__slide .slide-content .title {
  font-weight: var(--semibold);
}

.previous-work .splide__slide .slide-content .desc {
  margin-top: .5em;
  color: var(--text-white);
}

.previous-work .splide__slide .slide-content .other {
  margin-top: 2em;
  font-weight: var(--medium);
}

.review-carousel {
  margin: 4em 16px;
}

.review-carousel .splide__slide {
  background-color: var(--background-black-card);
  border-radius: var(--image-border);
  padding: 3em;
}

.review-carousel .splide__slide img {
  width: 30px;
  margin-top: 5em;
  padding: 1em;
  border-radius: 100%;
  background-color: var(--background-black);
}

.review-carousel .splide__slide .title {
  font-weight: var(--semibold);
  margin-top: 2em;
}

.review-carousel .splide__slide .desc {
  color: var(--text-white);
  margin-top: .5em;
}
/*# sourceMappingURL=index.css.map */